body {
    font-family: 'Raleway',Arial,  sans-serif;
    margin: 0%;
    background-color: #78E4FF;
    background: linear-gradient(80deg, #78E4FF,#faff6a) ;






}


header{
    background-color: rgb(133, 203, 250);
    margin: 0px;
    width: 100%;
    
    padding-top: 30px;
    text-align: center;
}

.titre{
    text-align: center;
    color: rgb(255, 251, 0);
}

nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;

    a{
       text-decoration: none;
       font-weight: bold;
       padding: 10px 70px;
       color: rgb(255, 251, 0);
       border: 1px solid black
     



    }
    
}

main{
    margin: 20px;
    margin-right: 40%;

    
}
h2{    margin-left: 76%;
    padding-top: 3px;

}

.telephone{
    margin-left: 80%;
    padding-top: 30px;
    padding-bottom: 5px;


}

